.Tiptap {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    min-height: 400px;
    z-index: 0;
    outline: none !important;
}

.Tiptap main {
    outline: none !important;
}

.ProseMirror {
    outline: none !important;
    border: none !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

.Tiptap ul, .Tiptap ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.Tiptap li {
    margin-bottom: 0.5rem;
}

.Tiptap img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
